<div class="container">
  <img src="../../assets/images/wave.svg" class="wave-rose" alt="wave rose style">
  <header class="header-page">
    <div class="logo">
      <h1>
        AR SHAKIR
      </h1>
    </div>

    <ul class="navigation">
      <li>
        <a href="#">Product</a>
      </li>
      <li>
        <a href="#">Tremplate</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Pricing</a>
      </li>
    </ul>
    <div class="container-header-buttons">
      <button class="sign-in">
        Sign In
      </button>
      <button class="start-free">
        Start Free
      </button>
    </div>
  </header>
</div>
