.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 1.4rem;
  border-radius: 0.23rem;

  & > h2 {
    color: #333;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  & > P {
    font-size: 0.9rem;
    font-weight: 100;
    color: gray;
    margin-bottom: 1rem;
  }

  & > div {
    width: 100%;
    display: flex;
    justify-content: end;

    & > .close {
      padding: 0.6rem 1.6rem;
      border-radius: 0.23rem;
      border: none;
      background-color: #333;
      color: #fff;
      font-size: 1rem;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgb(216, 214, 214);
        color: #333;
      }
    }
  }
}

hr {
  height: 2px;
  background-color: #f7f7f7;
  border: none;
}

.wave-rose {
  position: absolute;
  top: 0;
  left: 0;
  width: 51%;
  height: auto;
  z-index: -1;
}

.graphs1 {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 40%;
  height: auto;
  z-index: -1;
}

.wave-rose {
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.graphs1 {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-page {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  padding: 0.5rem 1rem;
  @media screen and (max-width: 768px) {
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    display: flex;
  }
  transition: all 0.3s ease-in-out;
}

.add-color-header {
  background-color: #ff0038 !important;
}

.add-color-header-logo {
  color: #fff;
}

.add-color-links {
  & > li > a {
    color: #fff !important;
  }
}

.scrolled {
  background-color: #e9edf461;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.logo > h1 {
  font-size: 1.2rem;
  font-weight: 800;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navigation-mobile {
  @media screen and (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.navigation-mobile > li {
  @media screen and (max-width: 768px) {
    margin: 1rem 0 !important;
    min-height: 3rem;
  }
}

.navigation > li {
  list-style: none;
  margin: 0 0.8rem;
}
.navigation > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000000;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: #f5664d;
  }
}

.container-header-buttons {
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.container-buttons-mobile {
  @media screen and (max-width: 768px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease-in-out;

    & > button {
      width: 100%;
      min-height: 5rem;
      border-radius: 0px;
      background-color: #1b9aaa;
      color: #ffffff !important;
      margin: 1rem 0;
      font-weight: 700;
      transition: all 0.6s ease-in-out;
    }
  }
}

.header-mobile {
  @media screen and (max-width: 768px) {
    z-index: 999;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: #eaf4f5;
    justify-content: flex-start;
    transition: all 0.6s ease-in-out !important;
  }
}

.hamburger {
  display: none;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  @media screen and (max-width: 768px) {
    display: block;
  }

  &:focus {
    outline: none;
  }
}

.sign-in {
  min-width: 5rem;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.9rem;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #ec920c;
  }
}

.start-free {
  min-width: 7rem;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  background-color: #f57059;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #e25840;
  }
}

.home {
  width: 100%;
  min-height: 91vh;
  margin-top: 4rem;
  padding: 6rem 5rem 0 6rem;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 2rem 1rem 0 1rem;
  }
}

.content-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-home > h4 {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

.content-home > h1 {
  width: 40%;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0.5rem 0;

  @media screen and (max-width: 960px) {
    width: 60%;
  }

  @media screen and (max-width: 720px) {
    width: 80%;
  }
}

.content-home > label {
  width: 40%;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem 0;
  color: #757095;

  @media screen and (max-width: 960px) {
    width: 60%;
  }

  @media screen and (max-width: 720px) {
    width: 70%;
  }
}

.content-email-info {
  flex: 1;
  width: 100%;
}

.content-email-adress {
  width: 40%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #dedede;

  @media screen and (max-width: 960px) {
    width: 60%;
  }

  @media screen and (max-width: 720px) {
    width: 100%;
  }
}

.content-email-adress > div {
  position: relative;
}

.content-email-adress > div label {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.78rem;
  font-weight: 700;
  color: #757095;
}

.content-email-adress > div input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  padding: 0.5rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #cccadd;
  }
}

.content-email-adress > button {
  min-height: 3rem;
  width: 36%;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #1b1c31;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #2b2c46;
  }
}

.container-businnes {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.container-businnes > h4 {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
  text-align: center;
}

.businnes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2.6rem;
}

.businnes > img {
  margin: 1rem 0.5rem;
}

.container-team {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: transparent;
  padding: 6rem 5rem 0 6rem;
  background-position: center;
  background-size: cover;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 2rem 1rem 0 1rem;
  }

  & > div {
    width: fit-content;
    z-index: 999;
    padding: 1rem;
    background: linear-gradient(53deg, #201742, #c908e1);
    border-radius: 0.43rem;
  }

  & > div > p {
    font-weight: 500;
    color: #fff;
    font-size: 1.1rem;
    margin: 1rem 0;
  }

  & > div > h4 {
    font-weight: 800;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.title-small {
  font-weight: 700 !important;
  color: #fff !important;
  margin-bottom: 1rem !important;
}

.get-started {
  margin-top: 0.5rem;
  padding: 0.7rem 2rem;
  border-radius: 10rem;
  border: none;
  background-color: #ffffff;
  color: #333;
  font-weight: 600;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
  z-index: 999;
  &:hover {
    background-color: #c560d3;
    color: #fff;
  }
}

.graph-non-linear {
  width: 100%;
  position: absolute;
  right: 50%;
  transform: translate(50%, -40%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.container-products {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 6rem 5rem 0 6rem;
  margin-top: 7rem;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 2rem 1rem 0 1rem;
  }
}

.container-card-bigger {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-img {
  position: relative;
  width: 50%;
  min-height: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  z-index: 2;

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.5);
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  & > h1 {
    z-index: 999;
    font-size: 1.8rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 1rem;
  }

  & > p {
    z-index: 999;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
    color: #fff;
  }

  @media screen and (max-width: 992px) {
    width: 80%;
    background-image: linear-gradient(43deg, blueviolet, blueviolet, #b99cd5);
  }

  @media screen and (max-width: 992px) {
    width: 92%;
  }
}

.non-circular {
  width: 100%;
  position: absolute;
  left: 0;
  top: 6rem;
  z-index: -2;
}

.container-platforms {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  z-index: 2;
  & > h3 {
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
  }

  & > p {
    font-weight: 500;
    color: #64607d;
    font-size: 1.1rem;
    width: 40%;
    text-align: center;

    @media screen and (max-width: 1161px) {
      width: 60%;
    }

    @media screen and (max-width: 768px) {
      width: 80%;
    }

    @media screen and (max-width: 520px) {
      width: 90%;
    }
  }
}

.container-mini-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > div {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;

    @media screen and (max-width: 922px) {
      flex-direction: column;
    }
  }

  & > button {
    border: none;
    padding: 0.9rem 2rem;
    margin-top: 1rem;
    border-radius: 0.45rem;
    background-color: #f57059;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.15s ease-in-out;

    &:hover {
      background-color: #e25840;
    }
  }
}

.mini-cards {
  width: 100%;
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
  background-color: #fff;

  padding: 2.5rem 1rem 1rem 1rem;

  @media screen and (max-width: 922px) {
    margin: 1rem 0;
    background-color: #f2f9fa;
  }

  &:nth-child(2) {
    margin: 1rem;
  }

  & > img {
    margin-bottom: 1.8rem;
    width: 2.3rem;
    height: 2.3rem;
  }

  & > strong {
    font-weight: 800;
    font-size: 1.1rem;
    color: #16012c;
    margin-bottom: 1rem;
  }

  & > p {
    font-weight: 500;
    color: #64607d;
    font-size: 1rem;
  }

  & > button {
    flex: 1;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #01966b;
    border: none;
    cursor: pointer;
    margin-top: 1.3rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
    & > img {
      margin-left: 1rem;
    }
  }
}

.card-large {
  width: 100%;
  padding: 2rem;
  display: flex;
  margin-top: 2rem;
  border: solid 1px #b6dae9;
  border-radius: 0.4rem;
  justify-content: space-between;
  align-items: center;
  & > h3 {
    font-weight: 800;
    font-size: 1.6rem;
    color: #000;
  }

  & > div {
    display: flex;

    & > div {
      display: flex;
      padding: 0.8rem;
      background-color: #e9ecf2;
      margin-right: 1rem;
      border-radius: 0.3rem;
      & > img {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
    & > p {
      font-weight: 600;
      color: #64607d;
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 1060px) {
    flex-direction: column;
    align-items: flex-start;

    & > h3 {
      font-weight: 800;
      font-size: 1.6rem;
      color: #000;
      margin-bottom: 1rem;
    }

    & > div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.8rem;
      background-color: #e9ecf2;
      margin: 1rem 0;
      border-radius: 0.3rem;
      & > img {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
    & > p {
      font-weight: 600;
      color: #64607d;
      font-size: 1rem;
    }
  }
}

.container-card-reader {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 6rem 5rem 0 6rem;
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;

  & > div {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.23rem;
    padding: 1.8rem;
    background-color: #fff4a8;

    & > h3 {
      font-weight: 800;
      font-size: 1.6rem;
      color: #000;
      text-align: center;
      margin-bottom: 1rem;
    }

    & > p {
      font-weight: 500;
      color: #64607d;
      font-size: 1rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    & > button {
      border: none;
      padding: 0.9rem 2rem;
      border-radius: 0.45rem;
      background-color: #f57059;
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.15s ease-in-out;

      &:hover {
        background-color: #e25840;
      }
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem 0 1rem;

    & > div {
      width: 100%;
      margin: 1rem 0;
    }
  }
}

.container-testimonials {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 6rem 5rem 0 6rem;
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: 768px) {
    padding: 2rem 1rem 0 1rem;
  }

  & > h5 {
    font-weight: 800;
    font-size: 0.9rem;
    color: #3734a9;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  & > h3 {
    font-weight: 800;
    font-size: 1.6rem;
    color: #000;
    margin-bottom: 2rem;
  }

  & > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    animation: effectImage 10s infinite ease-in-out;
    animation-delay: 10s;
  }
}

.img-testimonials {
  position: relative;
  width: 70%;
  height: 25rem;
  margin: 0 1rem;
  & > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    border-radius: 0.2rem;
  }
}

@keyframes effectImage {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0.5rem);
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.client-say-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 4rem;
  & > .symbol {
    width: 1.8rem;
    height: 2.2rem;
  }

  & > .stars-satisfaction-container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
    & > div {
      margin: 0 0.3rem;
      & > img {
        width: 1.6rem;
        height: 1.6rem;
        margin-bottom: 1rem;
      }
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.work-on {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem 0;
  & > h2 {
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    color: #757095;
  }
}

@media screen and (max-width: 1180px) {
  .img-testimonials {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .img-testimonials {
    width: 200%;
  }

  .client-say-container {
    padding: 1rem 2rem;
    & > h2 {
      font-size: 1.3rem;
    }
  }

  .work-on {
    & > img {
      width: 6rem;
      height: auto;
    }
  }
}

@media screen and (max-width: 520px) {
  .img-testimonials {
    width: 90% !important ;
  }
}

@media screen and (max-width: 768px) {
  .container-testimonials > div {
    flex-direction: column;
  }

  .img-testimonials {
    width: 60%;
  }
}

@media screen and (max-width: 860px) {
  .container-testimonials > div {
    flex-direction: column;
    align-items: center;
    & > .client-say-container {
      width: 100%;
      margin-top: 1rem;
    }

    .img-testimonials {
      width: 60%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .img-testimonials {
    width: 200%;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1201px) {
  .img-testimonials {
    width: 100%;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
  .img-testimonials {
    width: 60%;
  }
}

@media screen and (min-width: 1601px) {
  .img-testimonials {
    width: 50%;
  }
}

.download-container {
  flex-direction: column;
  margin-top: 7rem;
  min-height: 100vh;
  width: 100%;
  background-image: url("../../assets/images/arrow-background.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 5rem 0 6rem;
  @media screen and (max-width: 768px) {
    padding: 2rem 1rem 0 1rem;
  }

  & > h5 {
    text-align: center;
    font-weight: 800;
    font-size: 0.9rem;
    color: #f57059;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }

  & > h3 {
    text-align: center;
    font-weight: 800;
    font-size: 1.6rem;
    color: #000;
    margin-bottom: 1.6rem;
  }

  & > p {
    font-weight: 500;
    color: #64607d;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  & > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 410px) {
      flex-direction: column;
      & > button {
        width: 90%;
        justify-content: center !important;
        align-items: center;
      }
    }

    & > button {
      margin: 1rem;
      padding: 0.6rem 1.8rem;
      border: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5rem;
      & > strong {
        margin-left: 0.5rem;
        font-weight: 500;
        font-size: 0.9rem;
        color: #fff;
      }
      & > img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }
}

.playstore-button {
  background-color: #f57059;
  transition: all 0.23s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #e4664f;
  }
}

.google-play-button {
  background-color: #05796b;
  transition: all 0.23s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #056d5f;
  }
}

.login-account-container {
  padding: 6rem 5rem 0 6rem;
  margin-top: 4rem;
  min-height: 60vh;
  background-color: #05796b;
  display: flex;
  justify-content: space-between;
  & > div {
    display: flex;
    flex-direction: column;
  }

  & > .container-choose {
    & > h4 {
      font-weight: 800;
      font-size: 0.9rem;
      color: #fff;
      margin-bottom: 1rem;
    }

    & > h3 {
      font-weight: 800;
      font-size: 2.4rem;
      color: #fff;
      margin-bottom: 1rem;
    }

    & > p {
      font-weight: 400;
      color: #fff;
      font-size: 1rem;
    }
  }

  & > .container-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    & > input {
      background-color: #f2f3f42a;
      padding: 1rem 1rem;
      border: none;
      border-radius: 0.23rem;
      margin: 1rem 0;
      color: #231d44;
      min-width: 20rem;
      transition: all 0.23s ease-in-out;
      &::placeholder {
        color: #bbb5e0b7;
        font-size: 0.9rem;
        font-weight: 400;
      }

      &:focus {
        outline: none;
        background-color: #f2f3f446;
      }
    }

    & > button {
      min-width: 20rem;
      background-color: #f57059;
      padding: 1rem 1rem;
      border: none;
      border-radius: 0.23rem;
      margin: 1rem 0;
      color: #fff;
      font-weight: 600;
      font-size: 0.9rem;
      transition: all 0.23s ease-in-out;
      cursor: pointer;
      text-transform: uppercase;
      &:hover {
        background-color: #e4664f;
      }
    }
  }

  @media screen and (max-width: 960px) {
    padding: 2rem 1rem 0 1rem;
    flex-direction: column;

    & > .container-form {
      margin-top: 2rem;
      & > input,
      & > button {
        min-width: 0% !important;
        width: 95%;
      }
    }
  }
}

.footer-container {
  min-height: 25rem;
  padding: 6rem 5rem 0 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 768px) {
    padding: 2rem 1rem 0 1rem;
  }

  & > div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 450px) {
      flex-direction: column;
      align-items: center;

      & > div {
        align-items: center;
        width: 100%;
        & > div {
          width: 100%;
          & > div {
            & > input {
              min-width: 0% !important;
              width: 100% !important;
            }
          }
        }
      }
    }

    & > div {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      strong {
        font-weight: 800;
        font-size: 1.1rem;
        color: #181433;
        margin: 0.5rem 0;
      }
      & > p {
        font-weight: 500;
        color: #181433;
        margin: 0.5rem 0;
        cursor: pointer;
        transition: all 0.23s ease-in-out;

        &:hover {
          color: #f57059;
        }
      }

      & > div {
        flex-direction: column;
        & > div {
          display: flex;
          flex-wrap: nowrap;
          margin-bottom: 1rem;
          input {
            border: none;
            background-color: #f9f9f9;
            padding: 0.5rem;
            min-width: 20rem;
            &::placeholder {
              color: #181433;
              font-size: 0.9rem;
            }

            &:focus {
              outline: none;
            }
          }
          button {
            border: none;
            background-color: #00e1f0;
            padding: 0.7rem 1rem;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
          }
        }
      }
    }
  }
}

.explanation-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  & > p {
    font-weight: 400 !important;
    color: #bbb5e0b7 !important;
    font-size: 1rem !important;
  }
}

.responsabilites {
  text-align: center;
  color: #056d5f;
  margin: 1rem 0;
  font-variant: 1.1rem;
  font-weight: 600;

  & > p > a {
    text-decoration: none;
    color: #e4664f;
    transition: all 0.23s ease-in-out;
    &:hover {
      color: #fa8f7c;
    }
  }
}
