.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container > hr {
  height: 2px;
  background-color: #f7f7f7;
  border: none;
}

.wave-rose {
  position: absolute;
  top: 0;
  left: 0;
  width: 51%;
  height: auto;
  z-index: -1;
}

.graphs1 {
  position: absolute;
  top: 1rem;
  right: 0;
  width: 40%;
  height: auto;
  z-index: -1;
}

.wave-rose {
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

.graphs1 {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.header-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  padding: 0.5rem 1rem;
  @media screen and (max-width: 768px) {
    justify-content: center;
    height: fit-content;
    flex-direction: column;
    display: flex;
  }
}

.scrolled {
  background-color: #e9edf461;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.logo > h1 {
  font-size: 1.2rem;
  font-weight: 800;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.navigation-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-mobile > li {
  margin: 1rem 0 !important;
  min-height: 3rem;
}

.navigation > li {
  list-style: none;
  margin: 0 0.8rem;
}
.navigation > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000000;
  transition: all 0.1s ease-in-out;

  &:hover {
    color: #f5664d;
  }
}

.container-header-buttons {
  display: flex;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.container-buttons-mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-buttons-mobile > button {
  width: 100%;
  min-height: 5rem;
  border-radius: 0px;
  background-color: #dce5e6;
  margin: 1rem 0;
  font-weight: 700;
}

.header-mobile {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #eaf4f5;
  justify-content: flex-start;
}

.hamburger {
  display: none;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  @media screen and (max-width: 768px) {
    display: block;
  }

  &:focus {
    outline: none;
  }
}

.sign-in {
  min-width: 5rem;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.9rem;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: #fff;
    background-color: #ffebcd;
  }
}

.start-free {
  min-width: 7rem;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  background-color: #f57059;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #e25840;
  }
}

.home {
  width: 100%;
  min-height: 91vh;
  margin-top: 4rem;
  padding: 6rem 5rem 0 6rem;
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 2rem 1rem 0 1rem;
  }
}

.content-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-home > h4 {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

.content-home > h1 {
  width: 40%;
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0.5rem 0;

  @media screen and (max-width: 960px) {
    width: 60%;
  }

  @media screen and (max-width: 720px) {
    width: 80%;
  }
}

.content-home > label {
  width: 40%;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0.5rem 0;
  color: #757095;

  @media screen and (max-width: 960px) {
    width: 60%;
  }

  @media screen and (max-width: 720px) {
    width: 70%;
  }
}

.content-email-adress {
  width: 40%;
  min-height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px #dedede;

  @media screen and (max-width: 960px) {
    width: 60%;
  }

  @media screen and (max-width: 720px) {
    width: 100%;
  }
}

.content-email-adress > div {
  position: relative;
}

.content-email-adress > div label {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  font-size: 0.78rem;
  font-weight: 700;
  color: #757095;
}

.content-email-adress > div input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  padding: 0.5rem;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #cccadd;
  }
}

.content-email-adress > button {
  min-height: 3rem;
  width: 36%;
  border: none;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  background-color: #1b1c31;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #2b2c46;
  }
}

.container-businesses {
  min-height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.container-businesses > h4 {
  font-size: 1rem;
  font-weight: 800;
  margin-top: 0.5rem;
  text-align: center;
}

.businesses {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 2.6rem;
}

.businesses > img {
  margin: 1rem 0.5rem;
}
