.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wave-rose {
  position: absolute;
  top: 0;
  left: 0;
  width: 51%;
  height: auto;
  z-index: -1;
}

.header-page {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo {
  margin: 0.5rem;
}

.logo > h1 {
  font-size: 1.2rem;
  font-weight: 800;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navigation > li {
  list-style: none;
  margin: 0 0.8rem;
}
.navigation > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  color: #000000;
  transition: all 0.10s ease-in-out;

  &:hover {
    color: #f5664d;
  }

}

.container-header-buttons {
  display: flex;
}

.sign-in {
  min-width: 5rem;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.9rem;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.15s ease-in-out;

  &:hover {
    font-weight: 700;
    color: #fff;
    background-color: #ffebcd;
  }
}


.start-free{
  min-width: 7rem;
  margin: 0 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.9rem;
  color: #fff;
  cursor: pointer;
  background-color: #F57059;
  transition: all 0.15s ease-in-out;

  &:hover {
    font-weight: 700;
    background-color: #f5664d;
  }
}
