<div class="container">
  <img
    src="../../assets/images/wave.svg"
    class="wave-rose"
    alt="wave rose style"
  />
  <img
    src="../../assets/images/graphs1.svg"
    class="graphs1"
    alt="graphics illustation"
  />
  <header
    class="header-page"
    [class.header-mobile]="isPressedMenu"
    [class.add-color-header]="!isInStartPage"
  >
    <div class="logo" [class.add-color-header-logo]="!isInStartPage">
      <h1>AR SHAKIR</h1>
      <button class="hamburger" (click)="pressMenu()">
        <img src="../../assets/icons/hamburger.svg" alt="hamburger icon" />
      </button>
    </div>
    <ul
      class="navigation"
      [class.navigation-mobile]="isPressedMenu"
      [class.add-color-links]="!isInStartPage"
    >
      <li>
        <a href="#">Product</a>
      </li>
      <li>
        <a href="#">Template</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">Pricing</a>
      </li>
    </ul>
    <div
      class="container-header-buttons"
      [class.container-buttons-mobile]="isPressedMenu"
      [class.add-color-links-buttons]="!isInStartPage"
    >
      <button class="sign-in" (click)="pressMenu()">Sign In</button>
      <button class="start-free" (click)="pressMenu()">Start Free</button>
    </div>
  </header>
  <aside class="home" #home>
    <div class="content-home">
      <h4>Product Growth Solution in Single Plataform.</h4>
      <h1>Managing business payments has never been easier</h1>
      <label>
        Never at water me might. On formed merits hunted unable merely by mr
        whence or. Possession the unpleasing simplicity her uncommonly.
      </label>
      <div class="content-email-adress">
        <div>
          <label>Register using email address</label>
          <input type="text" placeholder="Ex:test@gmail.com" />
        </div>
        <button>Submit</button>
      </div>
    </div>
  </aside>
  <hr />
  <aside class="container-businnes" #businnessPartness>
    <h4>Over 32k+ software businesses growing with AR Shakir</h4>
    <div class="businnes">
      <img src="../../assets/icons/openZeppelin.svg" alt="openZeppelin icon" />
      <img src="../../assets/icons/oracle.svg" alt="oracle icon" />
      <img src="../../assets/icons/morpheus.svg" alt="morpheus icon" />
      <img src="../../assets/icons/samsung.svg" alt="samsung icon" />
      <img src="../../assets/icons/monday.svg" alt="monday icon" />
      <img src="../../assets/icons/segment.svg" alt="segment icon" />
      <img src="../../assets/icons/protonet.svg" alt="protonet icon" />
    </div>
  </aside>
  <hr />
  <aside class="container-team">
    <div>
      <h3 class="title-small">STOCKIE OPERATION ACROSS THE WORLD</h3>
      <h4>We have best team and best process</h4>
      <p>
        Yet bed any for travelling assistance indulgence unpleasing. Not
        thoughts all exercise blessing. Indulgence way everything joy.
      </p>
      <button class="get-started">Get Started</button>
    </div>
    <img
      src="../../assets/images/graph-non-linear.svg"
      class="graph-non-linear"
      alt="graph non linear"
    />
  </aside>
  <aside class="container-products">
    <img
      src="../../assets/images/formDraw.svg"
      alt="element non circular"
      class="non-circular"
    />
    <div class="container-card-bigger">
      <div class="card-img">
        <img src="../../assets/images/img-businnes.png" alt="hang out" />
        <h1>Push your product to next level</h1>
        <p>
          End-to-end payments and financial management in a single solution.
          Meet the right platform to help realize.
        </p>
        <button class="get-started">Get started</button>
      </div>
    </div>
    <div class="container-platforms">
      <h3>We help your business grow faster.</h3>
      <p>
        Why kept very ever home mrs. Considered sympathize ten uncommonly
        occasional assistance sufficient.
      </p>
    </div>
    <div class="container-mini-cards">
      <div>
        <div class="mini-cards">
          <img src="../../assets/icons/trofeu.svg" alt="trofeu icon" />
          <strong> Offending belonging </strong>
          <p>
            Letter of on become he tended active enable to. Vicinity relation
            sensible sociable surprise screened no up as.
          </p>
          <button>
            Read More
            <img
              src="../../assets/icons/arrow-right.svg"
              alt="arrow right icon"
            />
          </button>
        </div>
        <div class="mini-cards">
          <img src="../../assets/icons/plant.svg" alt="pĺant icon" />
          <strong> Promotion & provision </strong>
          <p>
            Led ask possible mistress relation elegance eat likewise debating.
            By message or am nothing amongst chiefly address.
          </p>
          <button>
            Read More
            <img
              src="../../assets/icons/arrow-right.svg"
              alt="arrow right icon"
            />
          </button>
        </div>
        <div class="mini-cards">
          <img src="../../assets/icons/sun.svg" alt="icon" />
          <strong> Blessing application </strong>
          <p>
            Ham windows sixteen who inquiry fortune demands. Is be upon sang
            fond must shew. Really boy law county she unable her sister.
          </p>
          <button>
            Read More
            <img
              src="../../assets/icons/arrow-right.svg"
              alt="arrow right icon"
            />
          </button>
        </div>
      </div>
      <button>More About Platform</button>
    </div>

    <div class="card-large">
      <h3>
        Among leave law <br />
        built now.
      </h3>
      <div>
        <div>
          <img src="../../assets/icons/star.svg" alt="star icon" />
        </div>
        <p>
          Village did <br />
          remov enjoyed
        </p>
      </div>
      <div>
        <div>
          <img
            src="../../assets/icons/congratulations.svg"
            alt="congratulations icon"
          />
        </div>
        <p>
          Nay likely <br />
          length sooner
        </p>
      </div>
      <div>
        <div>
          <img src="../../assets/icons/lighter.svg" alt="lighter icon" />
        </div>
        <p>
          Expense windows <br />
          adapted
        </p>
      </div>
    </div>
  </aside>
  <aside class="container-card-reader">
    <div>
      <h3>
        Offend belong <br />
        promote provision
      </h3>
      <p>
        Wise busy past both park when an ye no. Nay likely her length sooner
        thrown sex lively income.
      </p>
      <button>Read More</button>
    </div>
    <div>
      <h3>
        Consulted ourselves it <br />
        blessing welcom
      </h3>
      <p>
        The expense windows adapted sir. Wrong widen drawn ample eat off doors
        money.
      </p>
      <button>Read More</button>
    </div>
  </aside>
  <aside class="container-testimonials">
    <h5>TESTIMONIALS</h5>
    <H3> Check what our clients are saying </H3>
    <div>
      <div class="img-testimonials"></div>
    </div>
  </aside>
</div>
